[color]
	ui = true

[color "status"]
	added = cyan
	changed = green
	untracked = red

[core]
	editor = /usr/bin/vim

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --date=relative
	st = status
	p = remote update -p

[push]
	default = simple

[rerere]
	enabled = true

[user]
	name = Al Nguyen
	email = al@rocketrip.com
